@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant:wght@300;400&family=Rye&display=swap");
*{
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

#contenedor {
          display: grid;
          grid-template-areas:
            "header header"
            "main main";
        }
        header {
          grid-area: header;
        }
        main {
          grid-area: main;
        }
        header {
	width: 100%;
	background-color: #266748;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo,
.titulo,
.volver {
	display: flex;
}
.logo {
	flex: 1;
}
.logo img {
	width: 20vh;
	-webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.titulo {
	flex: 2;
	flex-direction: column;
}
.titulo h1 {
	color: #658974;
	font-family: "Cinzel";
	text-align: center;
	font-size: 8vh;
	letter-spacing: 5px;
}
.titulo img {
	padding-top: 1vh;
	width: 20%;
	height: 20%;
	margin: auto;
}
.volver {
	flex: 1;
}
.volver a:link,
a:visited {
	margin-left: auto;
	margin-right: 10%;
	background-color: #164b2f;
	color: #658974;
	border-radius: 10%;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.4s;
	cursor: pointer;
}

.volver a:hover,
a:active {
	background-color: #3e554f;
	color: #658974;
}
#seccion1 {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #1a472a;
}

#seccion1 article {
	display: grid;
	text-align: center;
	place-items: center;
	width: 50%;
	height: 50%;
	background-color: #266748;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#seccion1 article p {
	font-size: 1.5rem;
	font-family: "Cormorant", serif;
	font-weight: 400;
	color: #658974;
}
.personajes {
	background: #1a472a;
}
.personajes article {
	display: flex;
}
.personajes article img {
          width: 20%;
          height: 20%;
}
h2 {
	text-align: center;
	color: #3a6b66;
	font-size: 2rem;
	font-family: "Cinzel";
}
.contenido p {
	text-align: justify;
	color: #658974;
	font-family: sans-serif;
	font-size: 1.5vw;
}
.contenido{
	display: flex;
	align-items: center;
	justify-content: center;
        }
@media (max-width: 479px) {
          #contenedor {
            display: grid;
            grid-template-areas:
              "header"
              "main";
          }
          header {
            display: flex;
            flex-direction: column;
          }
          .personajes article img {
            width: 40%;
            height: 40%;
            margin: auto;
          }
          .personajes article {
            display: flex;
            flex-direction: column;
          }
          .contenido p {
            font-size: 3.5vw;
            text-align: center;
          }
          #seccion1 article p {
            font-size: 1rem;
          }
          .titulo img {
            padding-top: 0px;
            margin-bottom: 0.5rem;
          }
        }
        @media only screen and (min-width: 481px) and (max-width: 1024px){
          #contenedor {
            display: grid;
            grid-template-areas:
              "header"
              "main";
          }
          header {
            display: flex;
            flex-direction: column;
          }
          .personajes article {
            display: flex;
            flex-direction: column;
          }
          .contenido p {
            font-size: 3.5vw;
            text-align: center;
          }
          .personajes article img {
            width: 40%;
            height: 40%;
            margin: auto;
          }
          #seccion1 article p {
            font-size: 1rem;
          }
          .titulo img {
            padding-top: 0px;
            margin-bottom: 0.5rem;
          }
        }